extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/upload", method="post", enctype="multipart/form-data")
    input(type="file", name="image")
    <br>
    <br>
    select(name="op")
      option(value="describe") Describe
      option(value="ocr") OCR
    <br>
    <br>
    button(type="submit") Upload
